@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --corPrincial: rgb(46, 41, 41);
}

body {
  background-image: url(img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

/*HEADER*/

header {
  padding: 40px 0;
  position: relative;
  text-align: right;
}

header p {
  margin-right: 50px;
  color: var(--corPrincial);
  font-weight: 900;
}

#horas {
  font-size: 40px;
}

#data {
  font-size: 20px;
}

/*LISTA DE TAREFAS*/

.lista {
  width: max-content;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px black;
}

.lista h2 {
  color: var(--corPrincial);
  padding: 20px;
  border-bottom: 1px solid var(--corPrincial);
}

/*LISTA DE BOTOES (FILTRAR TAREFAS) */

.listaBotao {
  padding: 20px;
  border-bottom: 1px solid var(--corPrincial);
  display: flex;
}

.listaBotao button {
  background-color: rgb(245, 242, 242);
  border: none;
  box-shadow: 0 0 1px black;
  padding: 7px 18px;
}

.listaBotao button:active {
  transform: scale(0.95);
}

/*ADICIONAR TAREFA*/

.adicionarTarefa {
  padding: 20px;
  display: flex;
}

.adicionarTarefa input {
  padding: 7px 35px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  box-shadow: 0 0 2px black;
}

.adicionarTarefa button {
  padding: 5px 25px;
  background-color: green;
  border: none;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*TAREFAS*/

.tarefa {
  position: relative;
  display: flex;
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0 0 1px black;
  font-size: 18px;
  letter-spacing: 2px;
}

.tarefa input {
  transform: scale(1.4);
  margin-right: 10px;
}

.tarefa button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--corPrincial);
  text-decoration: underline;
  position: absolute;
  right: 20px;
}

/*MARCADO COMO CONCLUIDO*/

.tarefaC {
  position: relative;
  display: flex;
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0 0 1px black;
  text-decoration: line-through;
  background-color: #d4cfcf;
  font-size: 18px;
  letter-spacing: 2px;
}

.tarefaC input {
  transform: scale(1.4);
  margin-right: 10px;
}

.tarefaC button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--corPrincial);
  text-decoration: underline;
  position: absolute;
  right: 20px;
}

/*PAINEL DE PROGRESSO*/

.progressos {
  width: 1000px;
  padding: 10px 15px;
  background-color: white;
  font-weight: bolder;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.progressos div {
  margin: 15px 0;
}

.progressos span {
  font-weight: lighter;
  font-family: arial;
}

.status {
  display: flex;
  justify-content: space-around;
}

.concluidas,
.pendentes {
  display: flex;
  flex-flow: column;
  position: relative;
}

.status span {
  position: absolute;
  right: 10px;
}

.status progress {
  width: 420px;
  padding: 15px 0;
  accent-color: green;
}

@media only screen and (max-width: 1000px) {
  .status {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
  }

  .progressos {
    width: 450px;
  }
}

/*QUICK NOTES*/

.quicknotesCard {
  width: 355px;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px black;
}

.quicknotesCard p {
  padding: 15px;
  font-size: 20px;
  font-family: "Google Sans", sans-serif;
  letter-spacing: 1px;
}

.addQuickNote {
  margin: 15px;
  width: 325px;
  padding: 5px 0;
}

.containerQuickNote {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
}

.quicknote {
  width: 150px;
  min-height: 120px;
  background: #ffe082;
  margin: 15px 10px 0 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);  
  border-bottom-right-radius: 15px;
  
}

.quicknote span{
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  display: inline-block;
  transform: rotate(-5deg);
}
